
 
  @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
  body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
 
  
  header::after {
    content: '';
    display: table;
    clear: both;
  }
  
  .logo {
    float: left;
    padding: 10px 0;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
  
    position: relative;
  }
  
  nav a {
    color: #b2b3b3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  
  nav a:hover {
    color: #EFC862;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #EFC862;
  
    position: absolute;
    top: 0;
    width: 0%;
  
    transition: all ease-in-out 200ms;
  }
  
  nav a:hover::before {
    width: 100%;
  }
  body {
    background-image: url(background.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}
#mozzie{

    border-radius: 20px;
    width: 200px;
    border: 10px solid #c300d7;
    border-style: double;
    margin: auto;
    display: block;
    position: relative; top: 30px;

    

}

#bio{


    font-size: 30px;
    text-align: center;
    color: #fff; 
}
#prepare{

font-size: 20px;
    text-align: center;
    color: #fff; 
    text-decoration: underline;
}
#cia {

text-align: center;
color: #fff; 


}
#report{


    text-align: center;
    color: #fff; 
    font-size: 20px

}
#although{



    text-align: center;
 
    color: #fff; 
}

#mave{

    border-radius: 20px;
    width: 200px;
    border: 10px solid #c300d7;
    border-style: double;
    margin: auto;
    display: block;
    position: relative; top: 30px;
    

}
#mozzievid{
    margin: auto;
    display: block;
    height: 400px;}
    .box1 {
 
        border-bottom: 4px solid #2499ff;
        background-color: hsla(0,0%,100%,0.1);
        backdrop-filter: blur(6px);
    }
    
        